<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
    <div class="glv-container">
        <div id="app">
            <button class="ui green button">
                <i class="caret left icon"></i> Back to Home
            </button>
            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="first">Commits</a>
                <a class="item" data-tab="second">Information</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="first">
                <div class="ui left floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
                <div class="ui vertically divided grid">
                    <div class="row glv-row">
                        <div class="column glv-column">
                            <div class="ui two column grid glv-grid">
                                <div class="twelve wide column glv-column">
                                    <div class="ui label">
                                        <i class="user icon"></i> p_guen_ha01
                                    </div>
                                    <div class="ui label">
                                        <i class="mail icon"></i> hanv4@fsoft.com.vn
                                    </div>
                                    <div class="ui label">
                                        <i class="wait icon"></i> 2016/09/16 - 14:49:35
                                    </div>
                                    <div class="ui label">
                                        <i class="hashtag icon"></i> fd17225048b6e7f19da29837b45902108709776d
                                    </div>
                                </div>
                                <div class="right aligned four wide column glv-column">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="example">
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                            <div class="ui two column grid glv-grid">
                                <div class="twelve wide column glv-column">
                                    <pre class="glv-commit-msg">[ENH020]update: update functiontest file path for IT</pre>
                                </div>
                                <div class="right aligned four wide column glv-column glv-column-btn">
                                    <button class="tiny violet ui button">View files</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row glv-row">
                        <div class="column glv-column">
                            <div class="ui two column grid glv-grid">
                                <div class="twelve wide column glv-column">
                                    <div class="ui label">
                                        <i class="user icon"></i> p_guen_ha01
                                    </div>
                                    <div class="ui label">
                                        <i class="mail icon"></i> hanv4@fsoft.com.vn
                                    </div>
                                    <div class="ui label">
                                        <i class="wait icon"></i> 2016/09/16 - 14:49:35
                                    </div>
                                    <div class="ui label">
                                        <i class="hashtag icon"></i> fd17225048b6e7f19da29837b45902108709776d
                                    </div>
                                </div>
                                <div class="right aligned four wide column glv-column"></div>
                            </div>
                            <div class="ui two column grid glv-grid">
                                <div class="twelve wide column glv-column">
                                    <pre class="glv-commit-msg">[ENH020]update: update functiontest file path for IT</pre>
                                </div>
                                <div class="right aligned four wide column glv-column"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
                Second
            </div>
        </div>
    </div>
</body>

</html>
