/* Use local Lato font*/

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato Italic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato/Lato-Italic.ttf');
}

@font-face {
    font-family: 'Lato Bold Italic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato/Lato-BoldItalic.ttf');
}


/* Custom scroll */

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #cacbcd;
}


/* Disable selection */

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input,
button,
textarea,
:focus {
    outline: none;
}

.glv-hidden {
    display: none !important;
}

.glv-container {
    padding: 10px;
}

.glv-centered {
    text-align: center;
}

.glv-loader-full {
    width: 100%;
    height: 100%;
}

.glv-margin-top {
    margin-top: 10px !important;
}

.glv-commit-msg {
    margin: 0;
}

.glv-grid {
    margin-top: 0 !important;
}

.glv-row {
    padding-top: 0 !important;
}

.glv-column {
    margin: 0 !important;
    padding-bottom: 0.5rem !important;
}

.glv-column-btn {
    padding-top: 0.5rem !important;
    padding-bottom: 0 !important;
}

.glv-dropdown {
    min-width: 0 !important;
}

.glv-sizer {
    display: initial !important;
    position: absolute;
    top: -1000px;
    left: -1000px;
}

.glv-input-disabled {
    opacity: 1 !important;
}


/* Modal */

.glv-modal-top {
    width: 100%;
    height: 593px;
    padding: 10px;
    overflow: hidden;
}

.glv-modal-files {
    height: 320px;
    width: 100%;
    overflow-y: scroll;
    word-break: break-all;
}

.glv-modal-files .item {
    padding-left: 5px;
}

.glv-modal-bottom {
    text-align: right;
    padding: 10px;
    border-top: 1px solid #D4D4D5;
}

.glv-modal-log {
    height: 510px !important;
    max-height: 510px !important;
    resize: none !important;
    font-family: Consolas, monospace;
}